/* #App_Name {             
    color: red;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-item {
    margin-left: 40;
    padding-left: 10;
    padding-top: 25;
    font-size: 20px;
}
.nav-link {        

    color: white;
}
.nav nav-tabs
{
    padding: -30px; background-color: rgb(253, 179, 69)
}
.gradient {          
    position: relative;
	width: 100%;
	height: 100vw;
	background: linear-gradient(334deg, #46efe9, #2435cd, #d40d6a);
	background-size: 200% 200%;
	animation: gradient-animation 5s ease infinite;
    top: 0;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 25%;
	}
	25% {
		background-position: 25% 50%;
	}
    50% {
		background-position: 100% 50%;
	}
	100% {
		background-position:0% 50%;
	}
}
:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  .cards {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem 4vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 300;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    border-color: black;
  }
  
  .card__image {      
    width: 100%;
    height: 250px;
    box-sizing: border-box;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: rgb(120, 120, 161);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-radius: calc(var(--curve) * 2px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10%;
    right: 0;      
    z-index: 1;
  }
  .card__arc path {
    fill: var(--surface-color);
    
  }      
  .card:hover .card__header {
    transform: translateY(0);
  }
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
    text-align:  justify;
  }
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  } 
  body 
  {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
  }
  
  h4:after,
  h4:before {
    position: fixed;
    content: '';
    height: 0%;
    width: 0%;
    transition: width 1s, height 1s, border .01s 1s;
   
  }
  
  h4:before {
    left: 0;
    top: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  
  h4:before {
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
  
  h4:after {
    bottom: 0;
    right: 0;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  
  h4:hover:after {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  
  h4:hover:before,
  h4:hover:after {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    transition: width 1s, height 1s, border .01s;
    
  } */





  #App_Name {             /*  Edu seekers*/
    color: red;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.nav-item {
    margin-left: 40;
    padding-left: 10;
    padding-top: 25;
    font-size: 20px;
}
.nav-link {        /* navbar titles*/

    color: white;
}
.nav nav-tabs
{
    padding: -30px; background-color: rgb(253, 179, 69)
}
.gradient {          /* background css for body div */
  position: static;
  margin-left: 0px;
	width: 100vw;
	height: 100%;
	background: linear-gradient(334deg,  #f127a7, #ae28ec, #f5198e);
	background-size: 200% 200%;
	animation: gradient-animation 5s ease infinite;
  top: 0;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 25%;
	}
	25% {
		background-position: 25% 50%;
	}
    50% {
		background-position: 100% 50%;
	}
	100% {
		background-position:0% 50%;
	}
}
:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  .cards {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem 4vw;
    padding: 0;
    list-style-type: none;
  }
  
  .homecard {
    position: relative;
    display: block;
    height: 300;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    border-color: black;
  }
  
  .card__image {      
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: rgb(120, 120, 161);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .homecard:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-radius: calc(var(--curve) * 2px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10%;
    right: 0;      
    z-index: 0;
  }
  .card__arc path {
    fill: var(--surface-color);
    /* d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); */
  }      
  .homecard:hover .card__header {
    transform: translateY(0);
  }
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
    text-align:  justify;
  }
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  } 
  body 
  {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
  }
  /* ---------------animation marquee */
  /* h4{
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 4px;
  }
   */
  h4:after,
  h4:before {
    
    content: '';
    height: 0%;
    width: 0%;
    transition: width 1s, height 1s, border .01s 1s;
    /* border has a delay because it should become invisible only after height and width become 0 */
  }
  
  h4:before {
    
    left: 0;
    top: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  
  h4:before {
   
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
  
  h4:after {
   
    bottom: 0;
    right: 0;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  
  h4:hover:after {
    
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  
  h4:hover:before,
  h4:hover:after {
   
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    transition: width 1s, height 1s, border .01s;
    /* border has a shorter duration because it immediately needs to change colors */
  }